<p style="color: green"><%= notice %></p>

<%= render @rugby_world_cup_host_country %>

<div>
  <%= link_to "Edit this rugby world cup host country", edit_rugby_world_cup_host_country_path(@rugby_world_cup_host_country) %> |
  <%= link_to "Back to rugby world cup host countries", rugby_world_cup_host_countries_path %>

  <%= button_to "Destroy this rugby world cup host country", @rugby_world_cup_host_country, method: :delete %>
</div>
